
* {
	box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  margin: 0;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto;
}

header {
  height: 100px; 
  width: 100%; 
  font-size: 20px;
  background: rgb(255,102,1);
  background: linear-gradient(66deg, rgba(255,102,1,1) 40%, rgba(241,139,71,1) 100%); 
  color: whitesmoke;
}

#logo img {
  width: 80px;
  height: auto;
}

footer {
  margin-top: 30px;
  width: 100%;
  height: 30px;
  background: rgb(255,102,1);
  background: linear-gradient(220deg, rgba(255,102,1,1) 40%, rgba(241,139,71,1) 100%); 
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  grid-column: span 2;
}
h3 {
  text-align: center;
}

.container {
  margin: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.col {
  margin: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  border-radius: 5px;
}

.col-left {
  grid-column: 1;
  background-color: antiquewhite;

}

.col-right {
  grid-column: 2;
  background-color: antiquewhite;
}

.form {
  display: grid;
}

.input {
  margin: 10px;
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.radio {
  display: flex;
  justify-content: space-between;
}

.estimation {
  color: blue;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  background: rgb(255,102,1);
  color: white;
  width: 50%;
  justify-self: center;
  font-size: 18px;
}
.btn:hover {
  color: black;
}

tr {
  display: flex;
  padding: 10px;
  margin: 5px;
  justify-content: space-between;
  border-radius: 5px;
  background-color: white;
}